@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .section-container {
    width: 100%;
    padding-bottom: 2.95rem;
    padding-inline: 1rem;
  }
  .title-section {
    font-size: 1.875rem;
    font-weight: 700;
  }

  .title-product {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --juup-orange: #FF6B35;
  --juup-yellow: #F7931E;
  --juup-green: #8BC34A;
  --juup-purple: #9C27B0;
  --juup-dark-green: #2E7D32;
  --juup-cream: #F5F5DC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
